@{
    ViewBag.Title = "Index";
}

@section Styles {
    <style type="text/css">
        .questionframe {
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 221, 221);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-style: solid;
            border-width: 1px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            margin: 15px 0px 15px 0px;
            padding: 15px;
        }

        .question-remove {
            position: relative;
            top: -28px;
            right: -10px;
        }

        li.test a:hover:after {
            content: ' (drag me)';
        }

        ul.tt {
            min-height: 300px;
            padding: 0px;
        }

        li.over {
            border-color: #333;
            background: #ccc;
        }

        li.test {
            list-style: none;
        }

            li.test a {
                text-decoration: none;
                color: #000;
                margin: 10px;
                width: 130px;
                border: 3px dashed #999;
                background: #eee;
                padding: 10px;
                display: block;
            }

        .add-indicator-bottom, .add-indicator-top, .add-indicator-first {
            height: 10px;
            background: rgba(0, 0, 0, .5);
        }
    </style>
}

<form role="form">
    <input type="text" class="form-control" id="surveyTitle" placeholder="Enter Survey Title" />
</form>
<div class="row">
    <div class="col-md-10">
        <div id="survey-frame" class="questionframe">
            <div class="add-indicator-first hidden"></div>
        </div>
    </div>
    <div class="col-md-2">
        <ul class="tt">
            <li class="test"><a id="SurveyMultiResponse" href="#">one</a></li>
            <li class="test"><a href="#" id="SurveySingleResponse">two</a></li>
            <li class="test"><a href="#" id="three">three</a></li>
            <li class="test"><a href="#" id="four">four</a></li>
            <li class="test"><a href="#" id="five">five</a></li>
        </ul>
    </div>
</div>
<div id="hiddenMarkup" class="hidden">

</div>
@*<div class="text-right" style="margin-bottom: 15px">
    <a href="#">+ Add new question</a>
</div>*@

@section Scripts {
    <script type="text/javascript">
        var links = document.querySelectorAll('li.test > a'), el = null;
        for (var i = 0; i < links.length; i++) {
            el = links[i];

            el.setAttribute('draggable', 'true');

            addEvent(el, 'dragstart', function (e) {
                e.dataTransfer.effectAllowed = 'copy'; // only dropEffect='copy' will be dropable
                e.dataTransfer.setData('Text', this.id); // required otherwise doesn't work
            });
        }

        // Removal of a question
        $("#survey-frame").on("click", ".question-remove", function () {
            $(this).parents(".question-container").remove();
        });

        var question = $(".question-container");

        var surveyFrame = document.querySelector('#survey-frame');

        var insertQuestion = null;
        var insertPos = "";
        var addFirst = false;

        addEvent(surveyFrame, 'dragover', function (e) {

            dragQuestion(e);

            return false;
        });

        addEvent(surveyFrame, 'dragleave', function (e) {
            var elementMouseIsOver = document.elementFromPoint(e.clientX, e.clientY);

            if (!jQuery.contains(surveyFrame, elementMouseIsOver)) {
                jQuery(this).find("div.add-indicator-bottom").addClass("hidden");
                jQuery(this).find("div.add-indicator-top").addClass("hidden");
                $(".add-indicator-first").addClass("hidden");

                insertQuestion = null;
                insertPos = "";
                addFirst = false;
            }
        });

        // to get IE to work
        addEvent(surveyFrame, 'dragenter', function (e) {
            //this.className = 'over';

            dragQuestion(e);

            return false;
        });

        // Our dragging functionality
        function dragQuestion(e) {
            if (e.preventDefault) e.preventDefault(); // allows us to drop

            var mouseX = e.clientX, mouseY = e.clientY, elementMouseIsOver = document.elementFromPoint(mouseX, mouseY);

            // Handle adding a question to a blank survey
            if ($("#survey-frame").find(".question-container:visible").length <= 0) {
                addFirst = true;
                $(".add-indicator-first").removeClass("hidden");
            }
            else {
                $(".question-container").each(function (index) {
                    if (jQuery.contains(this, elementMouseIsOver)) {
                        var currentQuestion = $(this);

                        var offset = $(this).offset();

                        var relY = e.pageY - offset.top;

                        var bottom = jQuery(this).find("div.add-indicator-bottom");
                        var top = jQuery(this).find("div.add-indicator-top");

                        if (relY > $(this).height() / 2) {

                            bottom.removeClass("hidden");
                            $("div.add-indicator-top").addClass("hidden");

                            insertQuestion = $(this);
                            insertPos = "bottom";
                        }
                        else {

                            top.removeClass("hidden");
                            $("div.add-indicator-bottom").addClass("hidden");

                            insertQuestion = $(this);
                            insertPos = "top";
                        }
                    }
                });
            }

            //this.className = 'over';
            //console.log(jQuery(this).find("div.add-indicator"));
            //jQuery(this).find("div.add-indicator").removeClass("hidden");
            e.dataTransfer.dropEffect = 'copy';
        }

        var questionHtml = null;



        addEvent(surveyFrame, 'drop', function (e) {
            if (e.stopPropagation) e.stopPropagation(); // stops the browser from redirecting...why???

            console.log(e.dataTransfer.getData('Text'));

            if (addFirst || (insertQuestion != null && insertPos != "")) {
                $.get(e.dataTransfer.getData('Text'), function (data) {
                    questionHtml = $(data);

                    if (addFirst) {
                        var firstIndicator = $(".add-indicator-first");
                        firstIndicator.addClass("hidden");
                        addFirst = false;
                        //console.log("addfirst");

                        //question.clone().removeClass("hidden").insertAfter(firstIndicator);
                        questionHtml.clone().insertAfter(firstIndicator);
                    }
                    else {

                        if (insertQuestion != null && insertPos != "") {
                            $("div.add-indicator-bottom").addClass("hidden");
                            $("div.add-indicator-top").addClass("hidden");

                            //console.log(question);
                            if (insertPos == "bottom") {
                                //console.log("bottom insert");
                                //question.clone().removeClass("hidden").insertAfter(insertQuestion);
                                questionHtml.clone().insertAfter(insertQuestion);
                            }
                            else if (insertPos == "top") {
                                //console.log("top insert");
                                //question.clone().removeClass("hidden").insertBefore(insertQuestion);
                                questionHtml.clone().insertBefore(insertQuestion);
                            }
                        }
                    }
                });
            }
        });
    </script>
}