@{
    ViewBag.Title = "Index";
}

@section Styles {
    <style type="text/css">
        .surveyframe, .questionframe {
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 221, 221);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-style: solid;
            border-width: 1px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            margin: 15px 0px 15px 0px;
            padding: 15px;
            position: relative;
        }

        .surveyframe {
            padding: 15px 15px 15px 30px;
        }

        .questionframe {
            padding: 30px 15px 15px 35px;
        }

        .question-container {
            display: none;
        }
        .question-remove {
            position: absolute;
            top: -10px;
            right: -10px;
        }

        li.test a:hover:after {
            content: ' (drag me)';
        }

        ul.tt {
            min-height: 300px;
            padding: 0px;
        }

        li.over {
            border-color: #333;
            background: #ccc;
        }

        li.test {
            list-style: none;
        }

            li.test a {
                text-decoration: none;
                color: #000;
                margin: 10px;
                width: 130px;
                border: 3px dashed #999;
                background: #eee;
                padding: 10px;
                display: block;
            }

        .add-indicator-bottom, .add-indicator-top, .add-indicator-first {
            height: 10px;
            background: rgba(0, 0, 0, .5);
        }

        .move-wrapper {
            position: relative;
        }

        .move-controls {
            position: absolute;
            width: 40px;
            left: -50px;
            top: -20px;
        }

        .move-control {
            display: block;
            width: 40px;
        }
    </style>
}

<button id="survey-save" type="button" class="btn btn-default">Save</button>
<form role="form">
    <input type="text" class="form-control" id="surveyTitle" placeholder="Enter Survey Title" />
</form>
<div class="row">
    <div class="col-md-10">
        <div id="survey-frame" class="surveyframe">
            <div class="add-indicator-first hidden"></div>
        </div>
    </div>
    <div class="col-md-2">
        <ul class="tt">
            <li class="test"><a id="SurveyMultiOption" href="#">one</a></li>
            <li class="test"><a href="#" id="SurveySingleOption">two</a></li>
            <li class="test"><a href="#" id="three">three</a></li>
            <li class="test"><a href="#" id="four">four</a></li>
            <li class="test"><a href="#" id="five">five</a></li>
        </ul>
    </div>
</div>
<div id="hidden-markup" class="hidden">
    @Html.Partial("SurveyOptionControls/AllSurveyOptionControls")
</div>
@*<div class="question-position-popover" style="display: none">
    Hello World!
</div>*@

@Scripts.Render("~/bundles/create/survey")

@section Scripts {
    <script type="text/javascript">
        var SurveyObject = null;

        $(document).ready(function () {
            SurveyObject = new Survey($("#survey-frame"), $("#hidden-markup"));

            $("#survey-save").click(function () {
                console.log(SurveyObject.getJSON());
            });
        });


        var links = document.querySelectorAll('li.test > a'), el = null;
        var draggable = false;
        for (var i = 0; i < links.length; i++) {
            el = links[i];

            el.setAttribute('draggable', 'true');

            addEvent(el, 'dragstart', function (e) {
                console.log(e);
                console.log(e.srcElement.attributes.draggable.value != "true");
                if (e.srcElement.attributes.draggable.value == "true")
                    draggable = true;
                e.dataTransfer.effectAllowed = 'copy'; // only dropEffect='copy' will be dropable
                e.dataTransfer.setData('Text', this.id); // required otherwise doesn't work
            });
        }

        // Removal of a question
        $("#survey-frame").on("click", ".question-remove", function (e) {
            e.preventDefault(); // stop the page from scrolling because of link click
            SurveyObject.removeQuestion($(this).parents(".question-container").index());
        });

        var question = $(".question-container");
        var surveyFrame = document.querySelector('#survey-frame');
        var insertQuestion = null;
        var insertPos = "";

        addEvent(surveyFrame, 'dragover', function (e) {
            if (draggable) {
                dragQuestion(e);
                return false;
            }
        });

        addEvent(surveyFrame, 'dragleave', function (e) {
            var elementMouseIsOver = document.elementFromPoint(e.clientX, e.clientY);

            if (!jQuery.contains(surveyFrame, elementMouseIsOver)) {
                jQuery(this).find("div.add-indicator-bottom").addClass("hidden");
                jQuery(this).find("div.add-indicator-top").addClass("hidden");
                $(".add-indicator-first").addClass("hidden");

                insertQuestion = null;
                insertPos = "";
            }
        });

        // to get IE to work
        addEvent(surveyFrame, 'dragenter', function (e) {
            if (draggable) {
                dragQuestion(e);
                return false;
            }
        });

        // Our dragging functionality
        function dragQuestion(e) {
            if (e.preventDefault) e.preventDefault(); // allows us to drop

            var mouseX = e.clientX, mouseY = e.clientY, elementMouseIsOver = document.elementFromPoint(mouseX, mouseY);

            // Handle adding a question to a blank survey
            if ($("#survey-frame").find(".question-container:visible").length <= 0) {
                $(".add-indicator-first").removeClass("hidden");
            }
            else {
                $(".question-container").each(function (index) {
                    if (jQuery.contains(this, elementMouseIsOver)) {
                        var currentQuestion = $(this);
                        var offset = $(this).offset();
                        var relY = e.pageY - offset.top;

                        var bottom = jQuery(this).find("div.add-indicator-bottom");
                        var top = jQuery(this).find("div.add-indicator-top");

                        insertQuestion = $(this);
                        if (relY > $(this).height() / 2) {
                            bottom.removeClass("hidden");
                            $("div.add-indicator-top").addClass("hidden");
                            insertPos = "bottom";
                        }
                        else {
                            top.removeClass("hidden");
                            $("div.add-indicator-bottom").addClass("hidden");
                            insertPos = "top";
                        }
                    }
                });
            }
            e.dataTransfer.dropEffect = 'copy';
        }

        var questionHtml = null;



        addEvent(surveyFrame, 'drop', function (e) {
            if (e.stopPropagation) e.stopPropagation(); // stops the browser from redirecting...why???
            var numQuestions = SurveyObject.questionNum();

            console.log(e);
            if (draggable) {
                if (numQuestions == 0 || (insertQuestion != null && insertPos != "")) {
                    var insertIndex = -1;

                    // We are adding the first question
                    if (numQuestions == 0) {
                        $(".add-indicator-first").addClass("hidden");
                        insertIndex = 0;
                    }
                    else {

                        if (insertQuestion != null && insertPos != "") {
                            $("div.add-indicator-bottom").addClass("hidden");
                            $("div.add-indicator-top").addClass("hidden");

                            if (insertPos == "bottom") {
                                insertIndex = insertQuestion.index() + 1;
                            }
                            else if (insertPos == "top") {
                                if (insertQuestion.index() == 0) {
                                    insertIndex = 0;
                                }
                                else {
                                    insertIndex = insertQuestion.index();
                                }
                            }
                        }
                    }
                    SurveyObject.addQuestion(e.dataTransfer.getData('Text'), insertIndex);
                }
            }
            draggable = false;

        });

        // Catch event to add options
        $("#survey-frame").on("click", ".add-option", function (e) {
            e.preventDefault(); // stop the page from scrolling because of link click

            var addControl = $(this);
            var optionType = addControl.attr("data-option-type");

            //var jqResponse = SurveyObject.getResponse(responseType);
            SurveyObject.addOption(addControl.parents(".question-container").index(), optionType);
        });

        $("#survey-frame").on("click", ".remove-option", function (e) {
            e.preventDefault(); // stop the page from scrolling because of link click

            //var addControl = $(this);
            //var responseType = addControl.attr("data-response-type");

            //var jqResponse = SurveyObject.getResponse(responseType);
            SurveyObject.questions[$(this).parents(".question-container").index()].removeOption($(this).parent().index());
        });

        $("#survey-frame").on("click", ".question-move-up", function (e) {
            e.preventDefault(); // stop the page from scrolling because of link click
            SurveyObject.moveQuestionUp($(this).parents(".question-container").index());
        });

        $("#survey-frame").on("click", ".question-move-down", function (e) {
            e.preventDefault(); // stop the page from scrolling because of link click
            SurveyObject.moveQuestionDown($(this).parents(".question-container").index());
        });

        //$("#survey-frame").on("click", ".question-position", function (e) {
        //    e.preventDefault();
        //    console.log($(".popover-content").length);
        //    //if($(".popover-content").length > 1)
        //    //    $(".question-position").popover("destroy");
        //    //console.log(e);
        //    //e.currentTarget.popover('toggle');
        //    $(e.currentTarget).popover({
        //        html: true,
        //        placement: 'right',
        //        trigger: 'manual',
        //        content: function () {
        //            return $('.question-position-popover').html();
        //        }
        //    }).popover("toggle");
        //});


    </script>
}