<div class="move-wrapper">
    <div class="move-controls">
        <button type="button" class="btn btn-default move-control question-move-up"><span class="glyphicon glyphicon-chevron-up"></span></button>
        <button type="button" class="btn btn-default move-control question-position">10</button>
        <button type="button" class="btn btn-default move-control question-move-down"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
</div>
<button type="button" class="btn btn-default question-remove pull-right"><span class="glyphicon glyphicon-remove-circle"></span></button>
