<div class="single-option-radio">
    <div class="radio">
        <label>
            <input type="radio" />
        </label>
        <input type="text" class="form-control" placeholder="Enter option" />
    </div>
    <button type="button" class="btn btn-primary btn-sm remove-option">Remove</button>
</div>
