<div class="single-response-controls">
    <div class="single-response-radio">
        <div class="radio">
            <label>
                <input type="radio" />
            </label>
            <input type="text" class="form-control" placeholder="Enter option" />
            <button type="button" class="btn btn-primary btn-sm">Remove</button>
        </div>
    </div>
</div>
