<div class="single-response-radio">
    <div class="radio">
        <label>
            <input type="radio" />
        </label>
        <input type="text" class="form-control" placeholder="Enter option" />
    </div>
    <button type="button" class="btn btn-primary btn-sm single-response-radio-remove">Remove</button>
</div>
