@{
    ViewBag.Title = "Vote";
}

<h2>IT Survey</h2>
<div class="well well-sm">
    <form class="questionframe" role="form">
        <h4>What is your favorite color?</h4>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Green
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">White
            </label>
        </div>
        <hr />

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        @*</div>*@
    </form>
</div>
